.contenedor {
  width: 700px;
  background: white;
  border-radius: 5px;
  overflow: hidden;
  padding: 50px;
  p,
  a {
    background-color: white;
  }
  p {  
    text-align: center;
    font-size: 30px;
  }
  .autor {
    font-size: 20px;
    text-align: end;
    margin-bottom: 20px;
  }


  .iconos {
    display: grid;
    grid-template-columns: repeat(10, 1fr);


    #tumbler {
        grid-column: 1/2;
        font-size: 35px;
      }
    #facebook {
      grid-column: 2/3;
      font-size: 40px;
    }
    #boton {
      grid-column: 9/11;
      border-radius: 4px;
      border-style: none;
      color: white;
      font-size: 20px;
    }
  }
}
